.list-group-item.active {
    background-color: gray;
    color: white;
}
.navbar-nav {
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.list-group, .col-md-9 {
    padding-top: 20px;
}